body {
    display:flex;
    flex-direction: column;
    justify-content: center;      /* horizontal centering */
    align-items: center;   
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f7;
}

.page-container {
    margin: 25px auto;
    padding: 10px;
}

/* General box styling */
.box {
    text-align: center;
    background: white;
    padding: 18px 22px;
    margin-bottom: 18px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
}

.box ul{
    list-style-type: none;
}

/* Welcome text */
.welcome-text {
    font-size: 1.1rem;
}

.blue-text {
    color: #0057d9;
    font-weight: bold;
}

/* Images */
.images-row {
    display: flex;
    gap: 20px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.form-row {
    margin-bottom: 12px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #0057d9;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

.memberbox {
    background: #f9f9f9;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    
}

.memberbox ul {
    list-style-type: none;

}

.memberbox ul li {
    margin-bottom: 6px;

}

.member-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

header {
    background: #1a1a1a;
    width: 98%;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    }

header h1 {
    margin: 0;
    font-size: 22px;
}    

   

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.register-box {
    display:flex;
    flex-direction: column;
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 350px;
}

.login-box {
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 350px;
}